#include "./Version.xcconfig"
#include "./Shared.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = $(ASSETCATALOG_COMPILER_APPICON_NAME_$(CONFIGURATION))
ASSETCATALOG_COMPILER_APPICON_NAME_Debug = AppIcon-Debug
ASSETCATALOG_COMPILER_APPICON_NAME_Release = AppIcon
CODE_SIGN_ENTITLEMENTS = Hive-for-iOS/Resources/Hive-for-iOS.entitlements
DEVELOPMENT_ASSET_PATHS = Hive-for-iOS/Preview\ Content
ENABLE_PREVIEWS = YES
INFOPLIST_FILE = Hive-for-iOS/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
