CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 3UBRXR267C
IPHONEOS_DEPLOYMENT_TARGET = 14.0
BASE_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER_$(CONFIGURATION))
BASE_BUNDLE_IDENTIFIER_Debug = ca.josephroque.hiveapp.debug
BASE_BUNDLE_IDENTIFIER_Release = ca.josephroque.hiveapp
PRODUCT_NAME = Hive Mobile
TARGETED_DEVICE_FAMILY = 1,2
