#include "./Version.xcconfig"
#include "./Shared.xcconfig"

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ASSETCATALOG_COMPILER_APPICON_NAME = $(ASSETCATALOG_COMPILER_APPICON_NAME_$(CONFIGURATION))
ASSETCATALOG_COMPILER_APPICON_NAME_Debug = AppIcon-Debug
ASSETCATALOG_COMPILER_APPICON_NAME_Release = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
IBSC_MODULE = Hive_Mobile_Mini_Extension
INFOPLIST_FILE = Hive-for-watchOS/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER).watchkitapp
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = watchos
SKIP_INSTALL = YES
TARGETED_DEVICE_FAMILY = 4
WATCHOS_DEPLOYMENT_TARGET = 7.2
